@import url("/vendor/bootstrap/css/bootstrap-4.1.3.min.css");
@import url("/css/animate-3.7.0.css");
@import url("/css/nice-select.css");
@import url("/css/style.css");
@import url("/css/style1.css");

.login{
    text-transform: none!important;
}

.header-a{
    background-color: rgb(4, 9, 30)
}

.header-a a{
    color:white!important;
}

.main-menu .active{
    color:#17a2b8!important
}

.user{
    font-size: 2rem;
    color: white;
}
.user:hover{
    color: rgb(118, 182, 235)
}
    